* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color--1: #4cc9f0;
  --color--2: #4361ee;
  --color--3: #3a0ca3;
  --color--4: #7209b7;
  --color--5: #f72585;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
}

p,
span,
a,
li,
button,
label {
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a,
a:focus,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}
