.form-container {
  margin: 7.5em auto;
  padding: 2em;
  max-width: 40%;
}

.form-container h2 {
  padding: 1em;
  background-color: var(--color--1);
  text-align: center;
  border-radius: 5px;
}

.form-container input {
  display: block;
  width: 100%;
  margin: 1em auto;
  padding: 0.5em;
  font-size: 18px;
  border-radius: 5px;
  outline: none;
  border: 2px solid gray;
  transition: all 300ms ease;
}

.form-container input:focus {
  outline: none;
  border: 2px solid var(--color--3);
}

.form-container input::placeholder {
  font-size: 14px;
}

.form-container button {
  display: block;
  margin: 0 auto;
  padding: 0.5em 1em;
  border: none;
  border-radius: 8px;
  background-color: var(--color--3);
  font-size: 18px;
  color: white;
  cursor: pointer;
}
