.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  gap: 1em;
}

.main-container aside {
  min-width: 350px;
  padding: 0 1em;
  background-color: var(--color--4);
  color: rgb(244, 244, 244);
}

.main-container aside h2 {
  text-align: center;
  margin: 1em auto;
}
