.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  gap: 1em;
}

.main-container aside {
  min-width: 350px;
  padding: 0 1em;
  background-color: var(--color--4);
  color: rgb(244, 244, 244);
}

.main-container aside h2 {
  text-align: center;
  margin: 1em auto;
}

.main-container aside h3 {
  font-weight: 400;
}

.main-container section {
  padding: 2em 1em;
  flex: 1;
  height: min-content;
  max-height: 100vh;
  overflow-y: auto;

  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}
